<!DOCTYPE html>
<html>
    <head>
        <title>Pocket Planner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <!--<script src="/javascripts/templates.js"></script> -->
        <script src="/javascripts/helpers.js"></script>
        <!-- <script src="/javascripts/index.js"></script> -->
        <script src="/javascripts/users.js"></script>
        <!-- <script src="/javascripts/events.js"></script> -->
        <!-- <script src="/javascripts/todos.js"></script> -->
        <script src="/javascripts/attendfeed.js"></script>
        <script src="/javascripts/rsvp.js"></script>
    </head>
    <body>
      <div id="main-container" class="rsvp-container">
        <div id="header">
            <p> Pocket Planner</p>
            <button id="home-link">Home</button>
        </div>
          <p class="event_name">RSVP for <%= locals.name %></p>
          <hr>
          <p class="host-email">Host: <%= locals.hostEmail %></p>
          <p class="start_date">Start: <%= locals.start.toLocaleDateString() %> <% if (locals.start_time) { %> @ <%= locals.start_time %> <% } %> </p>
          <p class="end_date">End: <%= locals.end.toLocaleDateString() %> <% if (locals.end_time) { %> @ <%= locals.end_time %> <% } %></p>
          <p class="event_loc">Location: <% if (locals.location) { %> <%= locals.location %><% } else { %> TBD <% } %></p>

          <% if (locals.description) { %>
            <p class="event_desc"><%= locals.description %></p>
          <% } %>

          <div>
            <form name="attendee-status">
              <input name="email" id="rsvp-email" placeholder="Email [required]"><br>
              <input name="name" id="rsvp-name" placeholder="Your name [required]"><br>
              <textarea id="rsvp-comments" name="note" placeholder="Comments"></textarea><br>
              <button eventId = "<%= locals._id %>" class="rsvp-attend" type="submit" name="attending" value="1">Yes</button>
              <button eventId = "<%= locals._id %>" class="rsvp-attend" type="submit" name="attending" value="0">No</button>
            </form>
          </div>
        </div>
        <div id="footer">
            <p>Today's date is <%= date %></p>
        </div>
    </body>
</html>
