<!-- store event ID info in the event-container -->
<div class="col l4 m6 s12">
  <div class="card attend-event-container" eventId={{_id}}>
    <div class="card-content event attend-event">
      {{#if is_mine}}<i class="material-icons right delete-event">star</i>{{/if}}
      <p><span class="card-title">{{name}}</span></p>
      <hr>
      <p class="host-email">Host: {{hostEmail}}</p>
      <p>Start: {{start}} @ {{start_time}}</p>
      <p>End: {{end}} @ {{end_time}}</p>
      <p class="event_loc">Location: {{#if location}}{{location}}{{else}}TBD{{/if}}</p>

      {{#if description}}
        <p class="event_desc">{{description}}</p>
      {{/if}}
    </div>
  </div>
</div>
