<div class="rsvp">
  {{> header currentUser=currentUser}}
  <div class="container grey lighten-3">
    <div id="rsvp-summary-card" class="card large">
      <div id="rsvp-summary-image" class="card-image teal">
        <span class="card-title">{{name}}</span>
      </div>
      <div id="rsvp-summary-content" class="card-content">
          <div class="row">
            <!-- <h2>Event Details</h2> -->
            <blockquote id="rsvp-summary-details">
              Host: {{hostEmail}} <br>
              Start: {{ start}} @ {{ start_time}} <br>
              End: {{ end}} @ {{ end_time}} <br>
              Location: {{#if  location}}{{ location}}{{else}}TBD{{/if}}
            </blockquote>
          </div>
          {{#if description}}
            <div class="row">
              {{ description}}
            </div>
          {{/if}}
        <form id="attendee-status" action="#">
          <h5>Are you going?</h5>
          <div class="row">
            <div class="input-field col s6">
              <input name="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input name="name" type="text" class="validate">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="rsvp-comments" name="note" class="materialize-textarea"></textarea>
              <label for="note">Comments</label>
            </div>
          </div>
        </form>
      </div>
      <div class="card-action">
        <button eventId = "{{_id }}" class="rsvp-attend waves-effect waves-light btn-flat" name="attending" value="1">Yes</button>
        <button eventId = "{{ _id }}" class="rsvp-attend waves-effect waves-light btn-flat" name="attending" value="0">No</button>
      </div>

    </div>
  </div>
  <div>

  </div>
</div>
