
{{#each todos}}
  <div class="todo" todoId={{_id}}>
    <i class="material-icons right delete-todo">clear</i>
    <p>
      <input class="check-todo" type="checkbox" {{#equal status 1}} checked="true"{{/equal}} todoId={{_id}} id="todo-name" />
      <label for="todo-name">{{name}}</label>
    </p>
    <!--<div class="checkbox-container">
      <input type="checkbox" {{#equal status 1}} checked="true"{{/equal}} class="check-todo" todoId={{_id}}>
    </div>-->
      <!--<p>{{name}}<span class="glyphicon glyphicon-remove delete-todo"></span></p>-->
      {{#if deadline}}
      <p><small>Deadline: {{deadline}}</small></p>
      {{/if}}
      {{#if priority}}
      <p><small>Priority: {{priority}}</small></p>
      {{/if}}
    <br>

  </div>
{{/each}}
  <button class="btn btn-default add_todo">Add a To-Do</button>
