
{{#each todos}}
  <div class="todo" todoId={{_id}}>

    <div class="todo-info">
      <i class="material-icons right delete-todo ghetto-badge">clear</i><i class="material-icons right edit-todo ghetto-badge">edit</i>
      <p>
        <input class="check-todo" type="checkbox" {{#equal status 1}} checked="true"{{/equal}} todoId={{_id}} id="todo-name-{{_id}}" >
        <label for="todo-name-{{_id}}">{{name}}</label>
      </p>
      {{#if deadline}}
      <small>Deadline: {{deadline}}</small>
      {{/if}}
      {{#if assignee}}
      <div class="chip right">
        {{assignee}}
        <i class="material-icons delete-assignee">close</i>
      </div>
      {{else}}
      <i class="assign-person material-icons small ghetto-badge right clickable-icon">person_add</i>
      {{/if}}
      {{#if priority}}
      <br><small>Priority (1-10): {{priority}}</small>
      {{/if}}
      <br>
    </div>
    <div class="add-assignee-form input-field" style="display:none">
      <input class="add-assignee-email" type="text" id="add-assignee-email-{{_id}}">
      <label for="add-assignee-email-{{_id}}">Assignee email</label>
      <button class="waves-effect waves-light btn btn-default submit-add-assignee">Add</button>
      <button class="waves-effect waves-light btn btn-default cancel-add-assignee">Cancel</button>
    </div>
    <div class="edit-todo-form" style="display:none">

      <label class="active" for="edit-todo-name-{{_id}}">Todo Name</label>
      <input class="edit-todo-name" id="edit-todo-name-{{_id}}" value="{{name}}" type="text">

      <label class="active" for="edit-todo-deadline-{{_id}}">Deadline</label>
      <input class="edit-todo-deadline" type="text" id="edit-todo-deadline-{{_id}}" value={{#if deadline}}{{deadline}}{{/if}}>

      <label class="active" for="edit-todo-priority-{{_id}}">Priority (1-10)</label>
      <input class="edit-todo-priority" id="edit-todo-priority-{{_id}}" type="number" max="10" min="1" value={{#if priority}}{{priority}}{{/if}}>

      <br>
      <button class="waves-effect waves-light btn btn-default submit-edit-todo">Submit</button>
      <button class="waves-effect waves-light btn btn-default cancel-edit-todo">Cancel</button>

    </div>
  </div>
{{/each}}
