
{{#each todos}}
  <div class="todo">
    <div class="checkbox-container">
      <input type="checkbox" class="check-todo" todoId={{_id}}>
    </div>
    <div class="todo-content" todoId={{_id}}>
      <p>{{name}}<span class="glyphicon glyphicon-remove delete-todo"></span></p>
      {{#if deadline}}
      <p><small>Deadline: {{deadline}}</small></p>
      {{/if}}
      {{#if priority}}
      <p><small>Priority: {{priority}}</small></p>
      {{/if}}
    </div>
    <br>

  </div>
{{/each}}
  <button class="btn btn-default add_todo">Add a To-Do</button>
