{{> header currentUser=currentUser title=title}}
<div class="row">
<div id="category-container" class="col m9" eventId={{event._id}}>
  {{#each event.categories}}
    <div class="todo-container col s3" categoryId={{_id}}>
      <div class="inner-todo-container">
        <p class="category">{{name}}<i class="material-icons right delete-category">clear</i></p>
        <hr>
        {{> todo}}
      </div>
    </div>
  {{else}}
    <p><em>No todo lists yet!</em></p>
  {{/each}}

  <button class="col s3 btn btn-default" id="new_category">+ Add a new To-Do list</button>

</div>
<div id="event_panel" class="col m3" eventId={{event._id}}>
  <div class="error"></div>
  <div id="event_editable">
    <i class="material-icons right" id="edit-event">edit</i>
    <h3 id="event_name">{{event.name}}</h3>
    <hr>
    <p id="event-start"><span class="bold">Start:</span> <span id="start-date">{{event.start}}</span> @ <span id="start-time">{{event.start_time}}</span></p>
    <p id="event-end"><span class="bold">End:</span> <span id="end-date">{{event.end}}</span> @ <span id="end-time">{{event.end_time}}</span></p>
    <p id="event-loc"><span class="bold">Location:</span> {{event.location}}</p>
    <p id="event-desc"><span class="bold">Description:</span>  {{event.description}}</p>
    <p id="event-budget"><span class="bold">Budget:</span> ${{event.budget}}</p>
  </div>

  <div id="event-edit-form" style="display:none">

    <h3 id="event_name_edit" class="edit"  contenteditable="true">{{event.name}}</h3>
    <hr>
    <p id="event-start"><span class="bold">Start:</span></p><input type="text" id="edit-start-date" class="datepicker" data-value={{event.start}}> @ <input type="time" id="edit-start-time" value={{event.start_time_24}}>
    <br>
    <br>
    <p id="event-end"><span class="bold">End:</span></p><input type="text" id="edit-end-date" class="datepicker" data-value={{event.end}}> @ <input type="time" id="edit-end-time" value={{event.end_time_24}}>
    <br>
    <br>
    <span class="bold">Location:</span><p id="edit-event-loc" class="edit" contenteditable="true"> {{event.location}}</p>
    <br>
    <span class="bold">Description:</span> <p id="edit-event-desc" class="edit" contenteditable="true"> {{event.description}}</p>
    <br>
    <span class="bold">Budget:</span><p id="edit-event-budget" class="edit" contenteditable="true"> {{event.budget}}</p>

    <button class="btn btn-default" id="submit-edit-event">Submit</button>
    <button class="btn btn-default" id="cancel-edit-event">Cancel</button>
  </div>
  <hr>
  <div>
    <p class="bold">Invite link:</p><a href=/events/{{event._id}}/attend>pocketplanner.herokuapp.com/events/{{event._id}}/attend</a>
    <p><span class="bold">Number attendees:</span>  {{event.attendees.length}}</p>
    <hr>
  </div>
  <div id="cost-list" eventId={{event._id}}>
    <p class="bold">Costs</p>
    <ul>
    {{#each event.cost}}
      <li costId={{_id}}>
        <p><span class="bold">{{name}}</span><span class="glyphicon glyphicon-remove remove-cost"></span></p>
        <p>Amount: ${{amount}}</p>
        {{#if description}}
          <p>Description: {{description}}</p>
        {{/if}}
      </li>
    {{else}}
      <p>No costs yet.</p>
    {{/each}}
    </ul>
    <button class="btn btn-default" id="add-cost">Add Cost</button>
  </div>
  <div id="add-cost-form" style="display:none" eventId={{event._id}}>
    <div class="error"></div>
    <br>
    <input id="cost-name" placeholder="Name of cost [required]">
    <br>
    <input id="cost-amount" placeholder="Amount (in $) [required]">
    <br>
    <input id="cost-desc" placeholder="Description">
    <br>

    <button class="btn btn-default"  id="submit-cost">Submit Cost</button>
    <br>
    <button class="btn btn-default" id="cancel-cost">Cancel</button>
  </div>
  <div class="i dont even know" id="new_planner">
    <p>+ Add another planner</p>
  </div>
</div>
</div>
