
{{#each todos}}
  <div class="todo" todoId={{_id}}>

    <div class="todo-info">
      <i class="material-icons right delete-todo ghetto-badge">clear</i><i class="material-icons right edit-todo ghetto-badge">edit</i>
      <p>
        <input class="check-todo" type="checkbox" {{#equal status 1}} checked="true"{{/equal}} todoId={{_id}} id="todo-name-{{_id}}" >
        <label for="todo-name-{{_id}}">{{name}}</label>
      </p>
      {{#if deadline}}
      <small>Deadline: {{deadline}}</small>
      {{/if}}
      {{#if priority}}
      <br><small>Priority (1-10): {{priority}}</small>
      {{/if}}
      <br>
      <button class="todo-add-assignee btn btn-default">Add Assignee</button>
    </div>
    <div class="add-assignee-form" style="display:none">
      <label class="active" for="add-assignee-name">Assignee email</label>
      <input class="add-assignee-name" type="text" name="add-assignee-name">
    </div>
    <div class="edit-todo-form" style="display:none">

      <label class="active" for="edit-todo-name">Todo Name</label>
      <input class="edit-todo-name" name="edit-todo-name" value="{{name}}" type="text">

      <label class="active" for="edit-todo-deadline">Deadline</label>
      <input class="edit-todo-deadline" type="text" name="edit-todo-deadline" value={{#if deadline}}{{deadline}}{{/if}}>

      <label class="active" for="edit-todo-priority">Priority (1-10)</label>
      <input class="edit-todo-priority" type="number" max="10" min="1" value={{#if priority}}{{priority}}{{/if}}>

      <br>
      <button class="waves-effect waves-light btn btn-default submit-edit-todo">Submit</button>
      <button class="waves-effect waves-light btn btn-default cancel-edit-todo">Cancel</button>

    </div>
  </div>
{{/each}}


<!-- Using this to temporarily hold state -->
<!-- DEPRECATED -->
<!-- <div id='new-category-container'>
  <div class='event'>
    <div class='input-field col s3'>
      <input id='category-title' type='text' placeholder='To-Do List Title'>
      <label for='category-title'>New Category Title</label>
    </div>
    <div class='btn btn-default' id='add-category-button'>Add To-Do List</div>
    <div class='btn btn-default' id='cancel-category-button'>Cancel</div>
    </div>
  </div>
</div> -->

<!-- Using this to temporarily hold state -->
<!-- DEPRECATED -->
<!-- var htmlStr =
  "<div class='new-todo-form'>" +
  "<div class='input-field col s12'>" +
  "  <input type='text' id='todo-name'> " +
  "  <label for='todo-name'>Name</label> " +
  "</div>" +
  "<div class='input-field col s12'> " +
  "  <input type='text' id='deadline'> " +
  "  <label for='deadline'>Deadline</label> " +
  "</div>" +
  "<div class='btn btn-default' id='add-todo'>Add To-do</div> " +
  "<div class='btn btn-default' id='cancel-add-todo'>Cancel</div></div>" -->
