{{> header currentUser=currentUser title=title}}
<div id="category-container" eventId={{event._id}}>
  {{#each event.categories}}
    <div class="column todo-container" categoryId={{_id}}>
      <p class="category">{{name}}<span class="glyphicon glyphicon-remove delete-category"></span></p>
      <hr>
      {{> todo}}
    </div>
  {{else}}
    <p><em>No todo lists yet!</em></p>
  {{/each}}

  <div class="column btn btn-default" id="new_category">
    <p>+ Add a new To-Do list</p>
  </div>
  <div id="event_panel" eventId={{event._id}}>
    <div class="error"></div>
    <div id="event_editable">
      <h3 id="event_name">{{event.name}}<span class="glyphicon glyphicon-pencil" id="edit-event"></span></h3>
      <hr>
      <p id="event-start"><span class="bold">Start:</span> <span id="start-date">{{event.start}}</span> @ <span id="start-time">{{event.start_time}}</span></p>
      <p id="event-end"><span class="bold">End:</span> <span id="end-date">{{event.end}}</span> @ <span id="end-time">{{event.end_time}}</span></p>
      <p id="event-loc"><span class="bold">Location:</span> {{event.location}}</p>
      <p id="event-desc"><span class="bold">Description:</span>  {{event.description}}</p>
      <p id="event-budget"><span class="bold">Budget:</span> ${{event.budget}}</p>
    </div>

    <div id="event-edit-form" style="display:none">

      <h3 id="event_name_edit" class="edit"  contenteditable="true">{{event.name}}</h3>
      <hr>
      <p id="event-start"><span class="bold">Start:</span></p><input type="text" id="edit-start-date" placeholder={{event.start}}> @ <input type="time" id="edit-start-time" value={{event.start_time_24}}>
      <br>
      <br>
      <p id="event-end"><span class="bold">End:</span></p><input type="text" id="edit-end-date" placeholder={{event.end}}> @ <input type="time" id="edit-end-time" value={{event.end_time_24}}>
      <br>
      <br>
      <span class="bold">Location:</span><p id="edit-event-loc" class="edit" contenteditable="true"> {{event.location}}</p>
      <br>
      <span class="bold">Description:</span> <p id="edit-event-desc" class="edit" contenteditable="true"> {{event.description}}</p>
      <br>
      <span class="bold">Budget:</span><p id="edit-event-budget" class="edit" contenteditable="true"> {{event.budget}}</p>

      <button class="btn btn-default" id="submit-edit-event">Submit</button>
      <button class="btn btn-default" id="cancel-edit-event">Cancel</button>
    </div>
    <hr>
    <div>
      <p class="bold">Invite link:</p><a href=/attend/{{event._id}}>pocketplanner.herokuapp.com/attend/{{event._id}}</a>
      <p><span class="bold">Number attendees:</span>  {{event.attendees.length}}</p>
      <hr>
    </div>
    <div id="cost-list" eventId={{event._id}}>
      <p class="bold">Costs</p>
      <ul>
      {{#each event.cost}}
        <li costId={{_id}}>
          <p><span class="bold">{{name}}</span><span class="glyphicon glyphicon-remove remove-cost"></span></p>
          <p>Amount: ${{amount}}</p>
          {{#if description}}
            <p>Description: {{description}}</p>
          {{/if}}
        </li>
      {{else}}
        <p>No costs yet.</p>
      {{/each}}
      </ul>
      <button class="btn btn-default" id="add-cost">Add Cost</button>
    </div>
    <div id="add-cost-form" style="display:none" eventId={{event._id}}>
      <div class="error"></div>
      <br>
      <input id="cost-name" placeholder="Name of cost [required]">
      <br>
      <input id="cost-amount" placeholder="Amount (in $) [required]">
      <br>
      <input id="cost-desc" placeholder="Description">
      <br>

      <button class="btn btn-default"  id="submit-cost">Submit Cost</button>
      <br>
      <button class="btn btn-default" id="cancel-cost">Cancel</button>
    </div>
  </div>

</div>
